h2{
position: absolute;
right: 40%;
top: 40%;
color: white;
text-shadow: 2px 2px 4px #000000;
}
h3{
position: absolute;
right: 45%;
top: 45%;  
color: white;
text-shadow: 2px 2px 4px #000000;
}
h4{
position: absolute;
right: 44%;
top: 49%;
color: white;
text-shadow: 2px 2px 4px #000000;
}
body{
background-color: lightblue;
}